<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to @RelativityAuthenticationBridge.RelativityAuthenticationBridgeConstants.RelativityAuthenticationBridgeName
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                @RelativityAuthenticationBridge.RelativityAuthenticationBridgeConstants.RelativityAuthenticationBridgeName allows
                for you to authenticate your users in any custom approach you see fit. It uses an open source framework
                called <a href="https://identityserver.io">IdentityServer</a> to implement an OpenID Connect authentication provider. This OpenID Connect protocol is
                what Relativity can use to comunicate with @RelativityAuthenticationBridge.RelativityAuthenticationBridgeConstants.RelativityAuthenticationBridgeName
                and allow your custom user authentication into Relativity.
            </p>
            <p>
                IdentityServer publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">IdentityServer source code repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use IdentityServer samples</a>.
            </p>
        </div>
    </div>
</div>
