@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Home Page";
}

<h1>Client Home Page</h1>

@{ 
    var user = Context.User;
    if (user != null && user.Identity.IsAuthenticated)
    {
        var id_token = await Context.Authentication.GetTokenAsync("id_token");
        <h2>Claims</h2>
        <dl>
            @if(id_token != null)
            {
                <dt>id_token</dt>
                <dd>@id_token</dd>
            }
            @foreach (var claim in user.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    }
}
